.bodyContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.eventsHeader {
  width: 100%;
  height: 555px;
  background-position: center;
  background-size: cover;
}

.eventsPageContainer {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px !important;
  padding-bottom: 70px !important;
}
.eventsPageContainer > div {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
}
@media (max-width: 1580px) {
  .eventsPageContainer > div {
    max-width: 100%;
    padding: 0 100px;
  }
}
@media (max-width: 900px) {
  .eventsPageContainer > div {
    padding: 0 24px;
  }
}

.eventPageTitle {
  height: 116px;
  padding: 0 !important;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .eventPageTitle {
    height: 80px;
  }
}
.eventPageTitle > h3 {
  left: 0;
}
.eventPageTitle > p {
  left: 5px;
}

.eventPageItemsContainer {
  display: grid;
  grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}
@media (max-width: 900px) {
  .eventPageItemsContainer {
    grid-template-columns: 100%;
    grid-row-gap: 40px;
  }
}
.eventPageItemsContainer > a {
  text-decoration: none;
}
.eventPageItemsContainer > a > .eventPageItem {
  width: 100%;
}
.eventPageItemsContainer > a > .eventPageItem > .eventPageItemImage {
  width: 100%;
}
.eventPageItemsContainer > a > .eventPageItem > .eventPageItemImage > img {
  width: 100%;
  margin-bottom: 18px;
}
.eventPageItemsContainer > a > .eventPageItem > .eventPageItemData > p {
  font-size: 18px;
  font-family: oswaldL;
  color: #595959;
  line-height: 26px;
  text-align: left;
}

.singleEventPageContainer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 60px;
}
@media (max-width: 900px) {
  .singleEventPageContainer {
    padding: 30px 24px;
  }
}
.singleEventPageContainer > h1 {
  font-size: 36px;
  color: #14334c;
  font-family: OswaldL;
}
.singleEventPageContainer > p {
  margin-top: 5px;
  color: #4187c7;
  font-size: 14px;
  margin-bottom: 36px;
  font-family: robotoL;
}
.singleEventPageContainer > img {
  max-width: 880px;
  width: 100%;
  margin-bottom: 24px;
}
.singleEventPageContainer > .eventBody {
  max-width: 880px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: #14334c;
  line-height: 1.34;
  font-size: 14px;
  font-family: robotoL;
}
.singleEventPageContainer > .eventBody p, .singleEventPageContainer > .eventBody li, .singleEventPageContainer > .eventBody a {
  color: #14334c;
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: robotoL;
}
.singleEventPageContainer > .eventBody img {
  width: 100% !important;
  height: auto !important;
}
.singleEventPageContainer > .eventBody strong {
  font-weight: 400;
}
.singleEventPageContainer > .eventBody a {
  color: #14334c;
  text-decoration: underline;
}
