.bodyContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.langContainer {
  width: 100%;
  height: 30px;
  background-color: #2f2f2f;
  direction: ltr;
}
.langContainer > div {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  direction: ltr;
  margin: 0 auto;
}
@media (max-width: 1580px) {
  .langContainer > div {
    max-width: 100%;
    padding: 0 100px;
  }
}
@media (max-width: 900px) {
  .langContainer > div {
    padding: 0 24px;
  }
}
.langContainer > div > a {
  color: #fff;
  font-family: robotoL;
  text-decoration: none;
}

.headerContainer {
  width: 100%;
  height: 70px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1580px) {
  .header {
    max-width: 100%;
    padding: 0 100px;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 0 24px;
  }
}

.logoContainer > a {
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F5EEEE;
}
.logoContainer > a > p {
  font-family: "oswaldL";
  font-size: 15px;
  color: #F5EEEE;
  margin-left: 15px;
}
.logoContainer > a > img {
  height: 100%;
}
@media (max-width: 900px) {
  .logoContainer > a > img {
    height: 85%;
  }
}

.resMenuToggle {
  display: none;
}
@media (max-width: 900px) {
  .resMenuToggle {
    display: block;
  }
  .resMenuToggle > i {
    color: #fff;
    font-size: 28px;
  }
}

.openMenu {
  height: calc(100vh - 70px) !important;
}

.navBar {
  list-style-type: none;
}
@media (max-width: 900px) {
  .navBar {
    position: absolute;
    transition: all 250ms ease;
    width: 100vw;
    height: 0;
    overflow: hidden;
    top: 70px;
    left: 0;
    background: #111;
  }
  .navBar > li {
    float: unset;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
}
.navBar > li {
  float: left;
  margin-right: 72px;
}
@media (max-width: 1580px) {
  .navBar > li {
    margin-right: 30px;
  }
}
.navBar > li:last-child {
  margin-right: 0;
}
.navBar > li > a {
  text-decoration: none;
  color: #F3E4E4;
  font-family: oswaldL;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 1580px) {
  .navBar > li > a {
    font-size: 11px;
    letter-spacing: 2px;
  }
}
