@use "master" as m;

.langContainer {
  width: 100%;
  height: 30px;
  background-color: #2f2f2f;
  direction: ltr;

  & > div {
    @include m.limitWidth;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:100%;
    direction: ltr;
    margin:0 auto;
    &>a{
      color:#fff;
      font-family: robotoL;
      text-decoration: none;
    }
  }

}

.headerContainer {
  width: 100%;
  height: 70px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header {
  @include m.limitWidth;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {

  & > a {
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F5EEEE;

    & > p {
      font-family: "oswaldL";
      font-size: 15px;
      color: #F5EEEE;
      margin-left: 15px;
    }

    & > img {
      height: 100%;
      @media(max-width: m.$responsiveSize) {
        height: 85%;
      }
    }
  }
}

.resMenuToggle {
  display: none;
  @media(max-width: m.$responsiveSize) {
    display: block;
    & > i {
      color: #fff;
      font-size: 28px;
    }
  }
}

.openMenu {
  height: calc(100vh - 70px) !important;
}

.navBar {
  list-style-type: none;
  @media(max-width: m.$responsiveSize) {
    position: absolute;
    transition: all 250ms ease;
    width: 100vw;
    height: 0;
    overflow: hidden;
    top: 70px;
    left: 0;
    background: #111;
    & > li {
      float: unset;
      width: 100%;
      border-bottom: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
    }
  }

  & > li {
    float: left;
    margin-right: 72px;
    @media(max-width: 1580px) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;

    }

    & > a {
      text-decoration: none;
      color: #F3E4E4;
      font-family: oswaldL;
      text-transform: uppercase;
      font-size: 14px;
      @media(max-width: 1580px) {
        font-size: 11px;
        letter-spacing: 2px;
      }
    }
  }
}

