@use "master" as m;

.galleryHeader {
  width: 100%;
  height: 555px;
  //background-image: url('/images/galleryHeaderNew.jpg');
  background-position: center;
  background-size: cover;
}

.galleryPageContainer {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px !important;
  padding-bottom: 70px !important;

  & > div {
    @include m.limitWidth;
  }
}

.galleryPageTitle {
  height: 116px;
  padding: 0 !important;
  margin-bottom: 40px;
  @media (max-width: m.$responsiveSize) {
    height: 80px;

  }

  & > h3 {
    left: 0;
  }

  & > p {
    left: 5px;
  }
}

.galleryPageItemsContainer {
  display: grid;
  grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  @media (max-width: m.$responsiveSize) {
    grid-template-columns: 100%;
    grid-row-gap: 40px;
  }
  & > .galleryPageItem {
    text-decoration: none;

    & > .galleryPageItemImage {
      & > img {
        width: 100%;
        margin-bottom: 18px;
      }
    }

    & > .galleryPageItemData {
      & > p {
        font-size: 18px;
        font-family: oswaldL;
        color: #595959;
        line-height: 28px;
      }
    }
  }
}


//single product

.singleProductPageContainer {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px !important;
  padding-bottom: 70px !important;

  & > div {
    @include m.limitWidth;
  }
}

.singleProductItemContainer {
  display: grid;
  grid-template-columns: calc((100% - 72px) / 2) calc((100% - 72px) / 2);
  grid-column-gap: 72px;
  @media (max-width: m.$responsiveSize) {
    grid-template-columns: 100%;
    grid-column-gap: 0;

  }
}

.galleryBigImage {
  width: 100%;
  border-radius: 10px;
  & > img {
    width: 100%;
    border-radius: 10px;
  }
}

.singleProductGalleryThumbnail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  & > div {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 8px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;

    }

  }
}

.singleProductDetailSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 72px;

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  & h1 {
    font-size: 32px;
    font-family: OswaldL;
    color: #14334c;
  }

  & p {
    font-size: 16px;
    font-family: robotoL;
    color: #14334c;
    margin-top: 8px;
  }

  & .mobileInput, & .nameInput {
    height: 52px;
    width: 100%;
    font-family: OswaldL;
    border: 1px solid #14334c;
    border-radius: 10px;
    outline: none !important;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
  }

  & .mobileInput {
    margin-top: 0;

  }

  & .submitBtn {
    height: 52px;
    width: 100%;
    font-family: OswaldL;
    background-color: #14334c;
    border-radius: 10px;
    outline: none !important;
    color: #fff;
    cursor: pointer;
    box-shadow: none !important;
    border: none !important;
  }

}